/* html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
} */
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0;
  overflow: hidden;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
} */

/* .wally {
  height: 50%;
  width: 50%;
  background: url(img/where_s_wally.jpeg) no-repeat center/cover;
  border-radius: 20px;
  border: 4px solid transparent;
  transition: all 100ms ease;
  opacity: 0.8;
} */

/* .wally.select,
.game.select {
  width: 100vw;
  height: 70vh;
  border: none;
  opacity: 1;
}

.wally.remove,
.game.remove {
  display: none;
} */

.game {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url(img/where_s_wally.jpeg) no-repeat center/cover;
  border-radius: 20px;
}

/* .wally:hover,
.game:hover {
  border: 4px solid red;
  opacity: 1;
} */

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 100px;
}

.game__button,
.game__score,
.game__timer {
  font-size: 50px;
  border: 2px solid black;
  background-color: white;

  margin-bottom: 5px;
}

.game__button {
  border-radius: 10px;
}

.game__button:hover {
  color: coral;
  transition: color 300ms ease;
}

.game__timer {
  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__score {
  font-size: 46px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__levleTitle {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.game__level {
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255, 0.8);
  margin: auto;
  z-index: 100;
}

.level__select {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  font-size: 2rem;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.level__select:hover {
  background-color: darkorange;
}

.game__field {
  position: absolute;
  top: 15rem;
  width: 100vw;
  height: 40rem;
}

.carrot {
  width: 4.3vw;
}

.carrot,
.bug {
  transition: transform 300ms ease-in;
  user-select: none;
  cursor: auto;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.05);
}

.pop-up {
  position: absolute;
  top: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-200%);
  width: 300px;
  margin: auto;
  background-color: black;
  opacity: 0.7;
  text-align: center;
  border-radius: 20px;
}

.hide {
  display: none;
}

.pop-up__refresh {
  font-size: 50px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px 0;
}

.pop-up__message {
  color: aliceblue;
  font-size: 50px;
}
